.auth-section {
    min-height: 100vh;
    margin: 0% auto;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth-container{
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    z-index: 1;
  }
  
  .auth-container form {
    width: 125%;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
      0 1px 4px rgb(0 0 0 / 10%);
  }

  .handle-switch-btn {
    background-color: transparent;
    color: #007ac6;
    border: none;
    font-size: 13px;
    cursor: pointer;
  }
  
 

  @media screen and (max-width: 820px) {
    .auth-container-1 {
      display: none;
    }
  }